/* COLORS */
/* font size */
/* font */
/* effect */
/* button */
/* line 3, ../sass/page-rtl.scss */
.views-view-grid .views-col {
  float: right;
}

/* line 7, ../sass/page-rtl.scss */
html.js fieldset.collapsible .fieldset-legend {
  background-position: 100% 65%;
}

/* line 11, ../sass/page-rtl.scss */
ul.inline, ul.links.inline {
  padding-right: 0;
}
/* line 13, ../sass/page-rtl.scss */
ul.inline li, ul.links.inline li {
  margin-left: 10px;
  margin-right: 0;
}

/* line 20, ../sass/page-rtl.scss */
ul.primary li {
  margin-left: 5px;
  margin-right: 0;
}

/* headline */
/* line 28, ../sass/page-rtl.scss */
.headline .container {
  padding: 7px 260px 7px 15px;
}
/* line 31, ../sass/page-rtl.scss */
.headline .fa-phone {
  margin-left: 5px;
  margin-right: 0;
}
/* line 35, ../sass/page-rtl.scss */
.headline .block {
  float: right;
}
/* line 38, ../sass/page-rtl.scss */
.headline ul.menu {
  float: left;
  padding-right: 0;
}
/* line 41, ../sass/page-rtl.scss */
.headline ul.menu li {
  float: right;
}

/* end headline */
/* tb-megamenu */
/* line 51, ../sass/page-rtl.scss */
.tb-megamenu .nav > li {
  float: right;
}
/* line 56, ../sass/page-rtl.scss */
.tb-megamenu .nav > li:last-child .dropdown-submenu > a.dropdown-toggle:before {
  content: "\f105";
  left: auto;
  right: 5px;
}
/* line 66, ../sass/page-rtl.scss */
.tb-megamenu .dropdown-submenu > a.dropdown-toggle:before {
  content: "\f104";
  left: 5px;
  right: auto;
}
/* line 71, ../sass/page-rtl.scss */
.tb-megamenu .dropdown-submenu > .dropdown-menu {
  left: auto;
  right: 100%;
}
/* line 75, ../sass/page-rtl.scss */
.tb-megamenu .dropdown-submenu.mega-align-right > .dropdown-menu {
  left: 100%;
  right: auto;
}
/* line 80, ../sass/page-rtl.scss */
.tb-megamenu .mega-align-right > .dropdown-menu {
  left: 0;
  right: auto;
}

/* end tb-megamenu */
/* main-menu-inner */
/* line 89, ../sass/page-rtl.scss */
#main-menu-inner {
  float: left;
}

/* end main-menu-inner */
/* logo */
/* line 96, ../sass/page-rtl.scss */
#logo {
  float: right;
}

/* end logo */
/* slideshow */
/* line 104, ../sass/page-rtl.scss */
.slideshow .fieldset-action {
  left: auto;
  right: 0;
}
/* line 107, ../sass/page-rtl.scss */
.slideshow .fieldset-action .views-field {
  float: right;
}

/* end slideshow */
/* views-exposed-form */
/* line 118, ../sass/page-rtl.scss */
.views-exposed-form .views-widget,
.views-exposed-form .views-submit-button {
  padding-left: 20px;
  padding-right: 0;
}
/* line 122, ../sass/page-rtl.scss */
.views-exposed-form .form-submit {
  margin-left: 20px;
  margin-right: 0;
}

/* end views-exposed-form */
/* views-metro-item */
/* line 131, ../sass/page-rtl.scss */
.views-metro-item {
  float: right;
}

/* end views-metro-item */
/* line 138, ../sass/page-rtl.scss */
#content .option-set, #content ul.quicktabs-tabs {
  padding-right: 0;
}
/* line 140, ../sass/page-rtl.scss */
#content .option-set li, #content ul.quicktabs-tabs li {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

/* line 150, ../sass/page-rtl.scss */
.properties-grid-page .property-image-group .property-price-group,
.isotope-element .property-image-group .property-price-group {
  left: auto;
  right: -20px;
}
/* line 153, ../sass/page-rtl.scss */
.properties-grid-page .property-image-group .property-price-group .views-field,
.isotope-element .property-image-group .property-price-group .views-field {
  float: right;
}
/* line 157, ../sass/page-rtl.scss */
.properties-grid-page .views-field-field-business-type,
.isotope-element .views-field-field-business-type {
  clear: left;
}
/* line 160, ../sass/page-rtl.scss */
.properties-grid-page .views-field-field-business-type .views-label,
.properties-grid-page .views-field-field-business-type .field-content,
.isotope-element .views-field-field-business-type .views-label,
.isotope-element .views-field-field-business-type .field-content {
  float: right;
  margin-left: 3px;
  margin-right: 0;
}
/* line 167, ../sass/page-rtl.scss */
.properties-grid-page .property-info-group .views-field,
.isotope-element .property-info-group .views-field {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
/* line 173, ../sass/page-rtl.scss */
.properties-grid-page .property-info-group .views-field-field-bedrooms, .properties-grid-page .property-info-group .property-bedroom-icon,
.properties-grid-page .property-info-group .views-field-field-bathrooms, .properties-grid-page .property-info-group .property-bathroom-icon,
.isotope-element .property-info-group .views-field-field-bedrooms,
.isotope-element .property-info-group .property-bedroom-icon,
.isotope-element .property-info-group .views-field-field-bathrooms,
.isotope-element .property-info-group .property-bathroom-icon {
  float: left;
  margin-left: 0;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 25px;
}
/* line 179, ../sass/page-rtl.scss */
.properties-grid-page .property-info-group .views-field-field-bedrooms:before, .properties-grid-page .property-info-group .property-bedroom-icon:before,
.properties-grid-page .property-info-group .views-field-field-bathrooms:before, .properties-grid-page .property-info-group .property-bathroom-icon:before,
.isotope-element .property-info-group .views-field-field-bedrooms:before,
.isotope-element .property-info-group .property-bedroom-icon:before,
.isotope-element .property-info-group .views-field-field-bathrooms:before,
.isotope-element .property-info-group .property-bathroom-icon:before {
  left: auto;
  right: 0;
}
/* line 184, ../sass/page-rtl.scss */
.properties-grid-page .property-info-group .views-field-field-lot-area .views-label,
.isotope-element .property-info-group .views-field-field-lot-area .views-label {
  margin-left: 3px;
  margin-right: 0;
}
/* line 191, ../sass/page-rtl.scss */
.properties-grid-page .views-field-field-address .street-block,
.properties-grid-page .views-field-field-address .locality-block,
.properties-grid-page .views-field-field-address .country,
.isotope-element .views-field-field-address .street-block,
.isotope-element .views-field-field-address .locality-block,
.isotope-element .views-field-field-address .country {
  float: right;
  margin-left: 3px;
  margin-right: 0;
}

/* line 200, ../sass/page-rtl.scss */
.properties-grid-page .cols-4 .property-info-group .views-field-field-lot-area .views-label, #content .cols-4 .property-info-group .views-field-field-lot-area .views-label {
  margin-left: 0;
  margin-right: 3px;
}

/* agent-type */
/* line 209, ../sass/page-rtl.scss */
.agent-type .views-field-picture, .profile .views-field-picture {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
/* line 221, ../sass/page-rtl.scss */
.agent-type .views-field-field-phone,
.agent-type .views-field-field-email,
.agent-type .views-field-field-mobile,
.agent-type .views-field-field-fax,
.agent-type .field-phone-style, .agent-type .field-name-field-phone,
.agent-type .field-email-style, .agent-type .field-name-field-email,
.agent-type .field-mobile-style, .agent-type .field-name-field-mobile,
.agent-type .field-fax-style, .agent-type .field-name-field-fax, .profile .views-field-field-phone,
.profile .views-field-field-email,
.profile .views-field-field-mobile,
.profile .views-field-field-fax,
.profile .field-phone-style, .profile .field-name-field-phone,
.profile .field-email-style, .profile .field-name-field-email,
.profile .field-mobile-style, .profile .field-name-field-mobile,
.profile .field-fax-style, .profile .field-name-field-fax {
  padding-left: 0;
  padding-right: 22px;
}
/* line 224, ../sass/page-rtl.scss */
.agent-type .views-field-field-phone:before,
.agent-type .views-field-field-email:before,
.agent-type .views-field-field-mobile:before,
.agent-type .views-field-field-fax:before,
.agent-type .field-phone-style:before, .agent-type .field-name-field-phone:before,
.agent-type .field-email-style:before, .agent-type .field-name-field-email:before,
.agent-type .field-mobile-style:before, .agent-type .field-name-field-mobile:before,
.agent-type .field-fax-style:before, .agent-type .field-name-field-fax:before, .profile .views-field-field-phone:before,
.profile .views-field-field-email:before,
.profile .views-field-field-mobile:before,
.profile .views-field-field-fax:before,
.profile .field-phone-style:before, .profile .field-name-field-phone:before,
.profile .field-email-style:before, .profile .field-name-field-email:before,
.profile .field-mobile-style:before, .profile .field-name-field-mobile:before,
.profile .field-fax-style:before, .profile .field-name-field-fax:before {
  left: auto;
  right: 0;
}
/* line 229, ../sass/page-rtl.scss */
.agent-type .views-label, .profile .views-label {
  margin-left: 7px;
  margin-right: 0;
}
/* line 233, ../sass/page-rtl.scss */
.agent-type .views-label, .agent-type .field-label, .profile .views-label, .profile .field-label {
  float: right;
}

/* end agent-type */
/* views bootstrap */
/* line 243, ../sass/page-rtl.scss */
.views-bootstrap-accordion-plugin-style .panel-heading a {
  padding: 18px 20px 18px 40px;
}
/* line 245, ../sass/page-rtl.scss */
.views-bootstrap-accordion-plugin-style .panel-heading a:before {
  left: 20px;
  right: auto;
}
/* line 251, ../sass/page-rtl.scss */
.views-bootstrap-accordion-plugin-style .panel-heading a.collapsed:before {
  left: 20px;
  right: auto;
}
/* line 257, ../sass/page-rtl.scss */
.views-bootstrap-accordion-plugin-style .panel-body {
  padding: 0 20px 20px 50px;
}

/* end views bootstrap */
/* line 264, ../sass/page-rtl.scss */
.view-why-us .views-bootstrap-accordion-plugin-style .panel-body {
  padding: 0px 20px 20px;
}

/* line 268, ../sass/page-rtl.scss */
.field-slideshow-wrapper .field-slideshow-controls {
  left: 20px;
  right: 0;
}

/* line 273, ../sass/page-rtl.scss */
.news-item .created-date {
  left: auto;
  right: 0;
}

/* testimonials */
/* line 281, ../sass/page-rtl.scss */
#content .testimonials .flex-direction-nav .flex-prev {
  left: auto;
  right: 200px;
}
/* line 285, ../sass/page-rtl.scss */
#content .testimonials .flex-direction-nav .flex-next {
  left: auto;
  right: 34px;
}
/* line 291, ../sass/page-rtl.scss */
#content .testimonials .flexslider .slides .views-field {
  margin: 0 50px 15px 0;
}
/* line 294, ../sass/page-rtl.scss */
#content .testimonials .flexslider .slides .views-field-body {
  text-align: right;
  margin: 0 300px 0 0;
}

/* end testimonials */
/* panel-footer */
/* line 305, ../sass/page-rtl.scss */
#panel-footer ul.menu {
  padding-right: 0;
}

/* end panel-footer */
/* footer */
/* line 314, ../sass/page-rtl.scss */
#footer .block {
  float: right;
}

/* end footer */
/* line 322, ../sass/page-rtl.scss */
.simplenews-subscribe .form-item .form-text {
  padding: 10px 15px 10px 40px;
}
/* line 325, ../sass/page-rtl.scss */
.simplenews-subscribe .form-submit {
  left: 0;
  right: auto;
  background: url("../images/sprite.png") no-repeat 18px -170px;
}

/* line 333, ../sass/page-rtl.scss */
.jcarousel-container .jcarousel-prev {
  left: 0;
  right: auto;
}
/* line 337, ../sass/page-rtl.scss */
.jcarousel-container .jcarousel-next {
  left: 50px;
  right: auto;
}

/* featured-properties */
/* line 344, ../sass/page-rtl.scss */
.featured-properties .jcarousel-item {
  margin-left: 33px;
  margin-right: 0;
  text-align: right;
}

/* line 350, ../sass/page-rtl.scss */
.featured-properties-2 .jcarousel-container .jcarousel-item {
  margin-left: 30px;
  margin-right: 0;
}

/* end featured-properties */
/* line 358, ../sass/page-rtl.scss */
.region-content-action .menu {
  padding-right: 0;
}
/* line 360, ../sass/page-rtl.scss */
.region-content-action .menu li {
  float: right;
  margin-left: 10px;
  margin-right: 0;
  padding-left: 0;
}
/* line 367, ../sass/page-rtl.scss */
.region-content-action .views-exposed-form {
  float: left;
}
/* line 372, ../sass/page-rtl.scss */
.region-content-action .views-widget-sort-by,
.region-content-action .views-widget-sort-order,
.region-content-action .views-submit-button {
  margin-left: 0;
  margin-right: 20px;
}
/* line 377, ../sass/page-rtl.scss */
.region-content-action .views-widget,
.region-content-action .views-submit-button {
  padding-left: 0;
}

/* line 382, ../sass/page-rtl.scss */
.content .pager li {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

/* properties-list-page */
/* line 390, ../sass/page-rtl.scss */
.properties-list-page .property-image-group {
  float: right;
  margin: -20px -20px -20px 30px;
}
/* line 393, ../sass/page-rtl.scss */
.properties-list-page .property-image-group .property-price-group .views-field {
  float: right;
}
/* line 400, ../sass/page-rtl.scss */
.properties-list-page .views-field-field-address .street-block,
.properties-list-page .views-field-field-address .locality-block,
.properties-list-page .views-field-field-address .country {
  float: right;
  margin-left: 3px;
  margin-right: 0;
}
/* line 406, ../sass/page-rtl.scss */
.properties-list-page .views-field-field-business-type {
  clear: left;
}
/* line 409, ../sass/page-rtl.scss */
.properties-list-page .views-field-field-business-type .views-label,
.properties-list-page .views-field-field-business-type .field-content {
  float: right;
  margin-left: 3px;
  margin-right: 0;
}
/* line 416, ../sass/page-rtl.scss */
.properties-list-page .property-info-group .views-field {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
/* line 422, ../sass/page-rtl.scss */
.properties-list-page .property-info-group .views-field-field-bedrooms, .properties-list-page .property-info-group .property-bedroom-icon,
.properties-list-page .property-info-group .views-field-field-bathrooms, .properties-list-page .property-info-group .property-bathroom-icon {
  float: left;
  margin-left: 0;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 25px;
}
/* line 428, ../sass/page-rtl.scss */
.properties-list-page .property-info-group .views-field-field-bedrooms:before, .properties-list-page .property-info-group .property-bedroom-icon:before,
.properties-list-page .property-info-group .views-field-field-bathrooms:before, .properties-list-page .property-info-group .property-bathroom-icon:before {
  left: auto;
  right: 0;
}

/* end properties-list-page */
/* node */
/* line 440, ../sass/page-rtl.scss */
#main #content .node .group-price {
  left: auto;
  right: 0;
}
/* line 444, ../sass/page-rtl.scss */
#main #content .node .group-main-information {
  float: right;
  margin-left: 30px;
  margin-right: 0;
}
/* line 450, ../sass/page-rtl.scss */
#main #content .node .group-main-information .field-name-field-address,
#main #content .node .group-main-information .field-name-field-bedrooms,
#main #content .node .group-main-information .field-name-field-bathrooms {
  padding-left: 0;
  padding-right: 25px;
}
/* line 453, ../sass/page-rtl.scss */
#main #content .node .group-main-information .field-name-field-address:before,
#main #content .node .group-main-information .field-name-field-bedrooms:before,
#main #content .node .group-main-information .field-name-field-bathrooms:before {
  left: auto;
  right: 0;
}
/* line 460, ../sass/page-rtl.scss */
#main #content .node .group-more-information .field .field-label,
#main #content .node .field-group-accordion .field .field-label {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
/* line 466, ../sass/page-rtl.scss */
#main #content .node .content .field-name-field-category, #main #content .node .content .field-name-field-tags {
  margin-left: 5px;
  margin-right: 0;
}
/* line 469, ../sass/page-rtl.scss */
#main #content .node .content .field-name-field-category .field-item, #main #content .node .content .field-name-field-tags .field-item {
  margin: 0 0 5px 5px;
}

/* end node */
/* tagclouds-term */
/* line 479, ../sass/page-rtl.scss */
.tagclouds-term .tagclouds {
  margin: 0 0 2px 2px;
}

/* end tagclouds-term */
/* page agents */
/* line 489, ../sass/page-rtl.scss */
#content .node .flexslider-processed .flex-direction-nav .flex-prev {
  left: 30px;
  right: auto;
}
/* line 492, ../sass/page-rtl.scss */
#content .node .flexslider-processed .flex-direction-nav .flex-prev:before {
  left: 6px;
}
/* line 496, ../sass/page-rtl.scss */
#content .node .flexslider-processed .flex-direction-nav .flex-next {
  left: 80px;
  right: auto;
}
/* line 501, ../sass/page-rtl.scss */
#content .node .flexslider .flex-viewport li {
  float: right !important;
  margin-left: 10px;
  margin-right: 0;
}
/* line 507, ../sass/page-rtl.scss */
#content .agent-type .views-field-picture {
  margin-left: 0;
}
/* line 511, ../sass/page-rtl.scss */
#content .profile .field .field-label {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
/* line 516, ../sass/page-rtl.scss */
#content .profile .user-picture {
  float: right;
  margin: 0 0 10px 30px;
}
/* line 520, ../sass/page-rtl.scss */
#content .profile dt {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

/* line 529, ../sass/page-rtl.scss */
#main #content .node .node-content {
  padding-left: 0;
  padding-right: 130px;
}
/* line 533, ../sass/page-rtl.scss */
#main #content .created-date {
  left: auto;
  right: 0;
}

/* end page agents */
/* sidebar */
/* line 544, ../sass/page-rtl.scss */
.sidebar #search-block-form .form-actions {
  right: auto;
  left: 0;
}
/* line 548, ../sass/page-rtl.scss */
.sidebar #search-block-form .form-item input {
  padding-left: 40px;
  padding-right: 10px;
}
/* line 553, ../sass/page-rtl.scss */
.sidebar .quicktabs-wrapper .item-list .quicktabs-tabs li {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
/* line 560, ../sass/page-rtl.scss */
.sidebar .views-row .views-field-type-image,
.sidebar .views-row .views-field-field-image {
  float: right;
  margin: 0 0 0 15px;
}
/* line 566, ../sass/page-rtl.scss */
.sidebar .flexslider .flex-direction-nav .flex-prev {
  left: 0;
  right: auto;
}
/* line 569, ../sass/page-rtl.scss */
.sidebar .flexslider .flex-direction-nav .flex-prev:before {
  left: -6px;
}
/* line 573, ../sass/page-rtl.scss */
.sidebar .flexslider .flex-direction-nav .flex-next {
  left: 25px;
  right: auto;
}
/* line 578, ../sass/page-rtl.scss */
.sidebar .agent-type .views-field-picture {
  margin-left: 0;
}
/* line 581, ../sass/page-rtl.scss */
.sidebar .views-row .views-field-totalcount .field-content {
  padding-left: 0;
  padding-right: 15px;
}
/* line 584, ../sass/page-rtl.scss */
.sidebar .views-row .views-field-totalcount .field-content:before {
  left: auto;
  right: 0;
}

/* end sidebar */
/* search-form */
/* line 594, ../sass/page-rtl.scss */
.search-form #edit-basic label {
  margin-left: 5px;
  margin-right: 0;
}
/* line 598, ../sass/page-rtl.scss */
.search-form .form-item-keys {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

/* end search-form */
/* line 606, ../sass/page-rtl.scss */
.contact-info i {
  margin-left: 7px;
  margin-right: 0;
}

/* line 611, ../sass/page-rtl.scss */
.ui-accordion .ui-accordion-header .ui-icon {
  left: 16px;
  right: auto;
}
/* line 614, ../sass/page-rtl.scss */
.ui-accordion .ui-accordion-header .ui-icon:before {
  top: -9px;
}

/* line 621, ../sass/page-rtl.scss */
.related-properties .jcarousel-skin-default .jcarousel-item-horizontal,
.related-properties .jcarousel-container-horizontal .jcarousel-item-horizontal {
  margin: 0 0 0 29px;
  text-align: right;
}

/* view-page-list */
/* line 632, ../sass/page-rtl.scss */
.view-page-list .views-field-type-image,
.view-page-list .views-field-field-image,
.view-page-list .views-field-field-video,
.view-page-list .views-field-field-gallery {
  float: right;
}
/* line 634, ../sass/page-rtl.scss */
.view-page-list .views-field-type-image img,
.view-page-list .views-field-field-image img,
.view-page-list .views-field-field-video img,
.view-page-list .views-field-field-gallery img {
  margin: 0 0 5px 30px;
}
/* line 638, ../sass/page-rtl.scss */
.view-page-list .views-field-field-full-name .views-label {
  margin-left: 3px;
  margin-right: 0;
}
/* line 642, ../sass/page-rtl.scss */
.view-page-list .block-content-group .views-field {
  margin-left: 5px;
  margin-right: 0;
}
/* line 646, ../sass/page-rtl.scss */
.view-page-list .views-field-created {
  padding-left: 0;
  padding-right: 18px;
}
/* line 649, ../sass/page-rtl.scss */
.view-page-list .views-field-created:before {
  left: auto;
  right: 2px;
}
/* line 654, ../sass/page-rtl.scss */
.view-page-list .views-field-comment-count {
  padding-left: 0;
  padding-right: 18px;
}
/* line 657, ../sass/page-rtl.scss */
.view-page-list .views-field-comment-count:before {
  left: auto;
  right: 0;
}
/* line 662, ../sass/page-rtl.scss */
.view-page-list .views-field-field-video a:before {
  margin-left: 0;
}

/* end view-page-list */
/* view-page-isotope */
/* line 671, ../sass/page-rtl.scss */
.view-page-isotope .blog-footer-group .views-field {
  float: right;
}
/* line 674, ../sass/page-rtl.scss */
.view-page-isotope .blog-footer-group .views-field-created {
  float: right;
  padding-left: 0;
  padding-right: 20px;
}
/* line 678, ../sass/page-rtl.scss */
.view-page-isotope .blog-footer-group .views-field-created:before {
  left: auto;
  right: 2px;
}
/* line 683, ../sass/page-rtl.scss */
.view-page-isotope .blog-footer-group .views-field-comment-count {
  float: left;
  padding-left: 0;
  padding-right: 20px;
}
/* line 687, ../sass/page-rtl.scss */
.view-page-isotope .blog-footer-group .views-field-comment-count:before {
  left: auto;
  right: 0;
}

/* end view-page-isotope */
/* page contact */
/* line 699, ../sass/page-rtl.scss */
.contact-form .contact-form-group,
.contact-form .form-type-textarea {
  float: right;
}

/* line 705, ../sass/page-rtl.scss */
#content .webform-client-form .webform-component-fieldset {
  float: right;
}
/* line 707, ../sass/page-rtl.scss */
#content .webform-client-form .webform-component-fieldset .fieldset-wrapper {
  padding-left: 20px;
  padding-right: 0;
}
/* line 712, ../sass/page-rtl.scss */
#content .webform-client-form .fa {
  margin-left: 5px;
  margin-right: 0;
}
/* line 717, ../sass/page-rtl.scss */
#content .webform-client-form .webform-component-textarea .form-textarea-wrapper {
  padding-left: 20px;
  padding-right: 0;
}

/* end page contact */
/* comment form */
/* line 727, ../sass/page-rtl.scss */
#comments .comment {
  padding: 30px 70px 0 0;
}
/* line 729, ../sass/page-rtl.scss */
#comments .comment .user-picture {
  left: auto;
  right: 0;
}

/* line 736, ../sass/page-rtl.scss */
.comment-form .comment {
  padding: 0 60px 0 0;
}
/* line 738, ../sass/page-rtl.scss */
.comment-form .comment .user-picture {
  left: auto;
  right: 0;
}
/* line 743, ../sass/page-rtl.scss */
.comment-form .form-item {
  float: right;
}
/* line 746, ../sass/page-rtl.scss */
.comment-form .form-submit {
  margin-left: 10px;
  margin-right: 0;
}

/* line 752, ../sass/page-rtl.scss */
fieldset.filter-wrapper {
  margin-left: 0;
}
/* line 754, ../sass/page-rtl.scss */
fieldset.filter-wrapper .filter-help {
  padding-left: 0;
  padding-right: 0.5em;
}
/* line 758, ../sass/page-rtl.scss */
fieldset.filter-wrapper ul.tips {
  padding-right: 40px;
}
/* line 761, ../sass/page-rtl.scss */
fieldset.filter-wrapper .form-item {
  float: right;
  padding: 0 1.5em 0.5em 0;
}

/* line 767, ../sass/page-rtl.scss */
.filter-guidelines {
  clear: right;
}

/* line 771, ../sass/page-rtl.scss */
.filter-help {
  float: left;
}

/* line 775, ../sass/page-rtl.scss */
.comment {
  padding: 30px 90px 30px 30px;
}
/* line 777, ../sass/page-rtl.scss */
.comment .user-picture {
  left: auto;
  right: 30px;
}

/* end comment form */
/********************
* Skin menu  *
********************/
/* line 789, ../sass/page-rtl.scss */
.change-skin-menu-wrapper ul {
  padding-right: 0;
}
/* line 791, ../sass/page-rtl.scss */
.change-skin-menu-wrapper ul li {
  float: right;
  margin-left: 3px;
  margin-right: 0;
}
/* line 797, ../sass/page-rtl.scss */
.change-skin-menu-wrapper .change-layout-button:first-child {
  border-right: 1px solid #cdcdcd;
  border-left: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 807, ../sass/page-rtl.scss */
  #page .properties-grid-page .property-info-group .views-field, #page .isotope-element .property-info-group .views-field {
    margin-left: 4px;
    margin-right: 0;
  }
  /* line 812, ../sass/page-rtl.scss */
  #page .properties-grid-page .property-info-group .views-field-field-bedrooms,
  #page .properties-grid-page .property-info-group .views-field-field-bathrooms, #page .isotope-element .property-info-group .views-field-field-bedrooms,
  #page .isotope-element .property-info-group .views-field-field-bathrooms {
    margin-left: 0;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 22px;
  }
  /* line 821, ../sass/page-rtl.scss */
  #page .jcarousel-container .jcarousel-prev {
    left: 0;
    right: auto;
  }
  /* line 825, ../sass/page-rtl.scss */
  #page .jcarousel-container .jcarousel-next {
    left: 50px;
    right: auto;
  }
  /* line 830, ../sass/page-rtl.scss */
  #page .featured-properties-2 .jcarousel-container .jcarousel-item .property-image-group {
    margin: 0 0 20px 20px;
  }
  /* line 833, ../sass/page-rtl.scss */
  #page .featured-properties .jcarousel-item {
    margin-left: 20px;
    margin-right: 0;
  }
  /* line 837, ../sass/page-rtl.scss */
  #page .agent-type .views-field-picture, #page .profile .views-field-picture {
    max-width: 224px;
  }
  /* line 842, ../sass/page-rtl.scss */
  #page .related-properties .jcarousel-skin-default .jcarousel-item-horizontal,
  #page .related-properties .jcarousel-container-horizontal .jcarousel-item-horizontal {
    margin-left: 20px;
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  /* line 851, ../sass/page-rtl.scss */
  #page {
    /* --- Mobile menu --- */
    /* End Mobile menu */
  }
  /* line 853, ../sass/page-rtl.scss */
  .html #page {
    left: 0;
    right: auto;
  }
  /* line 856, ../sass/page-rtl.scss */
  .html #page.toggled {
    left: 250px;
    right: auto;
  }
  /* line 859, ../sass/page-rtl.scss */
  .html #page.toggled #main-menu-inner {
    left: 0;
    right: auto;
  }
  /* line 865, ../sass/page-rtl.scss */
  #page .overlay {
    left: auto;
    right: 0;
  }
  /* line 869, ../sass/page-rtl.scss */
  #page #main-menu-inner {
    left: -250px;
    right: auto;
  }
  /* line 872, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu {
    padding-right: 0;
  }
  /* line 874, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu > li {
    margin-right: 0;
    padding-left: 0;
  }
  /* line 877, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu > li ul {
    padding: 5px 30px 15px 0;
  }
  /* line 880, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu > li ul li ul {
    padding-left: 0;
    padding-right: 20px;
  }
  /* line 887, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu .expanded > a:before {
    left: 10px;
    right: auto;
  }
  /* line 897, ../sass/page-rtl.scss */
  #page .tb-megamenu .nav li.dropdown > .dropdown-toggle:before {
    left: 10px;
    right: auto;
  }
  /* line 904, ../sass/page-rtl.scss */
  #page .tb-megamenu .row-fluid [class*="span"] {
    margin-right: 0;
  }
  /* line 907, ../sass/page-rtl.scss */
  #page .tb-megamenu .mega-inner {
    padding: 5px 30px 0 0;
  }
  /* line 910, ../sass/page-rtl.scss */
  #page .tb-megamenu .span12.mega-col-nav .mega-inner {
    padding: 5px 20px 10px 0;
  }
  /* line 913, ../sass/page-rtl.scss */
  #page .tb-megamenu ul.tb-megamenu-subnav {
    padding: 5px 30px 15px 0 !important;
  }
  /* line 919, ../sass/page-rtl.scss */
  #page .views-metro-item .item-inner {
    margin-right: 0;
  }
  /* line 925, ../sass/page-rtl.scss */
  #page .properties-grid-page .property-image-group .property-price-group,
  #page .isotope-element .property-image-group .property-price-group {
    left: auto;
    right: -10px;
  }
  /* line 931, ../sass/page-rtl.scss */
  #page .properties-grid-page .property-info-group .views-field-field-bedrooms, #page .properties-grid-page .property-info-group .property-bedroom-icon,
  #page .properties-grid-page .property-info-group .views-field-field-bathrooms, #page .properties-grid-page .property-info-group .property-bathroom-icon,
  #page .isotope-element .property-info-group .views-field-field-bedrooms,
  #page .isotope-element .property-info-group .property-bedroom-icon,
  #page .isotope-element .property-info-group .views-field-field-bathrooms,
  #page .isotope-element .property-info-group .property-bathroom-icon {
    margin-left: 15px;
    margin-right: 0;
  }
  /* line 938, ../sass/page-rtl.scss */
  #page .entity-bean .field-type-image {
    float: right;
    margin-left: 20px;
    margin-right: 0;
  }
  /* line 944, ../sass/page-rtl.scss */
  #page .featured-properties-2 .jcarousel-container .jcarousel-item .property-image-group {
    margin: 0 0 30px 30px;
  }
  /* line 947, ../sass/page-rtl.scss */
  #page .news-item .blog-media-group {
    float: right;
    margin: 0 0 0 20px;
  }
  /* line 951, ../sass/page-rtl.scss */
  #page .properties-list-page .property-image-group {
    margin: 0 0 30px 30px;
  }
  /* line 956, ../sass/page-rtl.scss */
  #page .related-properties .jcarousel-skin-default .jcarousel-item-horizontal,
  #page .related-properties .jcarousel-container-horizontal .jcarousel-item-horizontal {
    margin-left: 20px;
    margin-right: 0;
  }
  /* line 961, ../sass/page-rtl.scss */
  #page .filter-wrapper .form-item {
    padding: 0;
  }
  /* line 964, ../sass/page-rtl.scss */
  #page .filter-help {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 972, ../sass/page-rtl.scss */
  #page .featured-properties .jcarousel-item {
    margin-left: 15px;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  /* line 983, ../sass/page-rtl.scss */
  #page #panel-third .entity-bean .field-name-field-image,
  #page #panel-third .entity-bean .field-type-image {
    float: right;
    margin-left: 20px;
    margin-right: 0;
  }
  /* line 989, ../sass/page-rtl.scss */
  #page .featured-properties .jcarousel-item {
    margin-left: 20px;
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  /* line 999, ../sass/page-rtl.scss */
  #page .headline .container {
    padding-left: 15px;
    padding-right: 200px;
  }
  /* line 1003, ../sass/page-rtl.scss */
  #page .headline ul.menu {
    padding-right: 0;
  }
  /* line 1009, ../sass/page-rtl.scss */
  #page .properties-grid-page .property-image-group .property-price-group,
  #page .isotope-element .property-image-group .property-price-group {
    left: auto;
    right: -20px;
  }
  /* line 1016, ../sass/page-rtl.scss */
  #page .properties-grid-page .cols-4 .property-info-group .views-field, #page #content .cols-4 .property-info-group .views-field {
    margin-right: 0;
    float: right;
  }
  /* line 1020, ../sass/page-rtl.scss */
  #page .properties-grid-page .cols-4 .property-info-group .views-field-field-lot-area, #page #content .cols-4 .property-info-group .views-field-field-lot-area {
    float: right;
    margin-left: 15px;
    margin-right: 0;
  }
  /* line 1026, ../sass/page-rtl.scss */
  #page .properties-grid-page .cols-4 .property-info-group .views-field-field-bedrooms,
  #page .properties-grid-page .cols-4 .property-info-group .views-field-field-bathrooms, #page #content .cols-4 .property-info-group .views-field-field-bedrooms,
  #page #content .cols-4 .property-info-group .views-field-field-bathrooms {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  /* line 1035, ../sass/page-rtl.scss */
  #page .properties-grid-page .cols-3 .property-info-group .views-field, #page #content .cols-3 .property-info-group .views-field {
    margin-right: 0;
  }
  /* line 1039, ../sass/page-rtl.scss */
  #page .properties-grid-page .cols-3 .property-info-group .views-field-field-bedrooms,
  #page .properties-grid-page .cols-3 .property-info-group .views-field-field-bathrooms, #page #content .cols-3 .property-info-group .views-field-field-bedrooms,
  #page #content .cols-3 .property-info-group .views-field-field-bathrooms {
    float: right;
    margin-left: 15px;
    margin-right: 0;
  }
  /* line 1046, ../sass/page-rtl.scss */
  #page #content .testimonials .flexslider .slides .views-field-body {
    margin-left: 0;
    margin-right: 250px;
  }
  /* line 1051, ../sass/page-rtl.scss */
  #page .our-team-list .views-field-picture {
    float: right;
    margin: 0 10px 0 20px;
  }
  /* line 1055, ../sass/page-rtl.scss */
  #page .our-team-list .photo-group {
    text-align: right;
  }
  /* line 1059, ../sass/page-rtl.scss */
  #page .featured-properties .jcarousel-item {
    margin-left: 20px;
    margin-right: 0;
  }
  /* line 1063, ../sass/page-rtl.scss */
  #page .region-content-action .views-exposed-form .views-exposed-widget {
    margin-left: 10px;
    margin-right: 0;
  }
  /* line 1067, ../sass/page-rtl.scss */
  #page .views-exposed-form .form-submit {
    margin-left: 0;
  }
  /* line 1070, ../sass/page-rtl.scss */
  #page #main #content .node .flexslider .flex-viewport li {
    margin-left: 10px;
    margin-right: 0;
  }
  /* line 1074, ../sass/page-rtl.scss */
  #page .contact-form .form-type-textarea {
    clear: right;
  }
  /* line 1079, ../sass/page-rtl.scss */
  #page #content .webform-client-form .webform-component-fieldset .fieldset-wrapper,
  #page #content .webform-client-form .webform-component-textarea .form-textarea-wrapper {
    padding-left: 0;
  }
  /* line 1083, ../sass/page-rtl.scss */
  #page .featured-properties-2 .property-info-group {
    clear: right;
  }
}
@media (max-width: 480px) {
  /* line 1092, ../sass/page-rtl.scss */
  #page .headline .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 1097, ../sass/page-rtl.scss */
  #page #logo {
    margin-left: 0;
    margin-right: -15px;
  }
  /* line 1102, ../sass/page-rtl.scss */
  #page .views-exposed-form .views-exposed-widget .views-widget {
    padding-left: 0;
  }
  /* line 1105, ../sass/page-rtl.scss */
  #page .views-exposed-form .views-widget-filter-field_price_value_1 .views-widget {
    padding-left: 10px;
    padding-right: 0;
    margin-right: 0;
  }
  /* line 1110, ../sass/page-rtl.scss */
  #page .views-exposed-form .views-widget-filter-field_price_value .views-widget {
    padding-left: 10px;
    padding-right: 0;
    margin-right: 0;
  }
  /* line 1115, ../sass/page-rtl.scss */
  #page .views-exposed-form .views-submit-button {
    padding-left: 0;
  }
  /* line 1121, ../sass/page-rtl.scss */
  #page .properties-grid-page .cols-3 .property-info-group .views-field, #page #content .cols-3 .property-info-group .views-field {
    float: right;
  }
  /* line 1125, ../sass/page-rtl.scss */
  #page .properties-grid-page .cols-3 .property-info-group .views-field-field-bedrooms,
  #page .properties-grid-page .cols-3 .property-info-group .views-field-field-bathrooms, #page #content .cols-3 .property-info-group .views-field-field-bedrooms,
  #page #content .cols-3 .property-info-group .views-field-field-bathrooms {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  /* line 1132, ../sass/page-rtl.scss */
  #page .region-content-action .views-exposed-form .views-exposed-widget {
    float: right;
  }
  /* line 1135, ../sass/page-rtl.scss */
  #page .properties-list-page .property-image-group {
    margin: 0 0 30px;
  }
  /* line 1140, ../sass/page-rtl.scss */
  #page #content .agent-type .views-field-picture, #page #content .profile .views-field-picture {
    float: right;
    margin-left: 20px;
    margin-right: 0;
  }
  /* line 1148, ../sass/page-rtl.scss */
  #page #content .testimonials .flexslider .slides .views-field {
    margin-right: 0;
  }
  /* line 1151, ../sass/page-rtl.scss */
  #page #content .testimonials .flexslider .slides .views-field-body {
    margin-right: 170px;
  }
  /* line 1156, ../sass/page-rtl.scss */
  #page #content .testimonials .flex-direction-nav .flex-prev {
    right: 133px;
  }
  /* line 1159, ../sass/page-rtl.scss */
  #page #content .testimonials .flex-direction-nav .flex-next {
    right: 0;
  }
  /* line 1165, ../sass/page-rtl.scss */
  #page #main #content .node .node-content {
    padding-left: 0;
    padding-right: 100px;
  }
  /* line 1170, ../sass/page-rtl.scss */
  #page .sidebar .views-row .views-field-type-image, #page .sidebar .views-row .views-field-field-image {
    margin-left: 15px !important;
    margin-right: 0 !important;
  }
  /* line 1180, ../sass/page-rtl.scss */
  #page .view-page-list .views-field-type-image img,
  #page .view-page-list .views-field-field-image img,
  #page .view-page-list .views-field-field-video img,
  #page .view-page-list .views-field-field-gallery img {
    margin: 0 0 5px 0;
  }
  /* line 1184, ../sass/page-rtl.scss */
  #page .view-page-list .views-field-field-video a:before {
    margin-left: 45px;
  }
  /* line 1188, ../sass/page-rtl.scss */
  #page .news-item .blog-media-group {
    float: none;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
@media (max-width: 360px) {
  /* line 1197, ../sass/page-rtl.scss */
  #page {
    /* view-page-isotope */
  }
  /* line 1199, ../sass/page-rtl.scss */
  #page #content .option-set li, #page #content ul.quicktabs-tabs li {
    margin-left: 0;
  }
  /* line 1205, ../sass/page-rtl.scss */
  #page #panel-third .entity-bean .field-name-field-image,
  #page #panel-third .entity-bean .field-type-image {
    float: none;
    margin-left: 0;
  }
  /* line 1211, ../sass/page-rtl.scss */
  #page .our-team-list .views-field-picture {
    float: none;
    margin: 0 0 15px 0;
  }
  /* line 1216, ../sass/page-rtl.scss */
  #page #content .testimonials .flexslider .slides .views-field-body {
    margin: 0;
  }
  /* line 1219, ../sass/page-rtl.scss */
  #page .region-content-action .views-exposed-form .views-exposed-widget {
    float: none;
    margin-left: 0;
  }
  /* line 1225, ../sass/page-rtl.scss */
  #page #featured .agent-type .views-field-picture, #page #featured .profile .views-field-picture, #page #content .agent-type .views-field-picture, #page #content .profile .views-field-picture {
    float: none;
    margin-left: 0;
  }
  /* line 1231, ../sass/page-rtl.scss */
  #page #main #content .node .node-content {
    padding-right: 0;
  }
  /* line 1236, ../sass/page-rtl.scss */
  #page .view-page-isotope .blog-footer-group .views-field-created {
    float: right;
  }
  /* line 1239, ../sass/page-rtl.scss */
  #page .view-page-isotope .blog-footer-group .views-field-comment-count {
    float: left;
  }
  /* line 1245, ../sass/page-rtl.scss */
  #page .related-properties .jcarousel-skin-default .jcarousel-item-horizontal,
  #page .related-properties .jcarousel-container-horizontal .jcarousel-item-horizontal {
    margin-left: 0;
    width: 330px;
  }
  /* line 1250, ../sass/page-rtl.scss */
  #page .ui-accordion .ui-accordion-header .ui-icon {
    right: auto;
  }
  /* line 1255, ../sass/page-rtl.scss */
  #page #content .profile .user-picture {
    margin-left: 0;
  }
  /* line 1261, ../sass/page-rtl.scss */
  #page #content .testimonials .flexslider .slides .views-field {
    margin: 0 auto 7px;
  }
  /* line 1266, ../sass/page-rtl.scss */
  #page #content .testimonials .flex-direction-nav .flex-prev {
    left: 60px;
    right: auto;
  }
  /* line 1270, ../sass/page-rtl.scss */
  #page #content .testimonials .flex-direction-nav .flex-next {
    right: 60px;
  }
  /* line 1277, ../sass/page-rtl.scss */
  #page .view-page-list .views-field-field-video a:before {
    margin-left: -11px;
  }
}
@media (max-width: 320px) {
  /* line 1287, ../sass/page-rtl.scss */
  #page .jcarousel-container .jcarousel-prev {
    left: auto;
    right: 50px;
  }
  /* line 1291, ../sass/page-rtl.scss */
  #page .jcarousel-container .jcarousel-next {
    left: auto;
    right: 0;
  }
  /* line 1298, ../sass/page-rtl.scss */
  #page .related-properties .jcarousel-skin-default .jcarousel-item-horizontal,
  #page .related-properties .jcarousel-container-horizontal .jcarousel-item-horizontal {
    margin-left: 0;
    width: 290px;
  }
  /* line 1304, ../sass/page-rtl.scss */
  #page #main #content .node .flexslider-processed .flex-direction-nav .flex-prev {
    left: 5px;
    right: auto;
  }
  /* line 1308, ../sass/page-rtl.scss */
  #page #main #content .node .flexslider-processed .flex-direction-nav .flex-next {
    left: 50px;
    right: auto;
  }
  /* line 1315, ../sass/page-rtl.scss */
  #page #content .testimonials .flexslider .slides .views-field {
    margin: 0 auto 7px;
  }
  /* line 1320, ../sass/page-rtl.scss */
  #page #content .testimonials .flex-direction-nav .flex-prev {
    left: 35px;
  }
  /* line 1323, ../sass/page-rtl.scss */
  #page #content .testimonials .flex-direction-nav .flex-next {
    right: 35px;
  }
  /* line 1329, ../sass/page-rtl.scss */
  #page .view-page-list .views-field-field-video a:before {
    margin-left: -20px;
  }
}
